<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.ReviewMapper">
    <resultMap id="ReviewResultMap" type="ltd.newbee.mall.entity.Review">
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="sku_id" jdbcType="VARCHAR" property="skuId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="review_id" jdbcType="BIGINT" property="reviewId"/>
        <result column="scores" jdbcType="BIGINT" property="scores"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="review_title" jdbcType="VARCHAR" property="reviewTitle"/>
        <result column="review_content" jdbcType="VARCHAR" property="reviewContent"/> 
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/> 
        <result column="like_count" property="likeCount" />  
    </resultMap>
    <resultMap id="ReviewImageMap" type="ltd.newbee.mall.entity.ReviewImage">
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="sku_id" jdbcType="VARCHAR" property="skuId"/>
        <result column="sku_image" jdbcType="VARCHAR" property="skuImage"/>
    </resultMap>
    <resultMap id="ScoresMap" type="ltd.newbee.mall.entity.Scores">
        <result column="average" jdbcType="BIGINT" property="average"/>
        <result column="total" jdbcType="BIGINT" property="total"/>
        <result column="score1" jdbcType="BIGINT" property="score1"/>
        <result column="score2" jdbcType="BIGINT" property="score2"/>
        <result column="score3" jdbcType="BIGINT" property="score3"/>
        <result column="score4" jdbcType="BIGINT" property="score4"/>
        <result column="score5" jdbcType="BIGINT" property="score5"/>
    </resultMap>
    
    <sql id="Review_List">
        goods_id,sku_id,user_id,review_id,review_content,scores,create_time
    </sql>
  
    <insert id="insertReview" parameterType="ltd.newbee.mall.entity.Review">
        insert into new_goods_review
        (goods_id,sku_id,user_id,review_id,scores,nick_name,review_title,review_content,create_time)
        values (
            #{goodsId,jdbcType=BIGINT},
            #{skuId,jdbcType=VARCHAR},
            #{userId,jdbcType=BIGINT},
            #{reviewId,jdbcType=BIGINT},
            #{scores,jdbcType=BIGINT},
            #{nickName,jdbcType=VARCHAR},
            #{reviewTitle,jdbcType=VARCHAR},
            #{reviewContent,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <insert id="insertReviewImage" parameterType="ltd.newbee.mall.entity.ReviewImage">
        insert into new_goods_review_image
        (goods_id,sku_id,user_id,review_id,review_image)
        values (
            #{goodsId,jdbcType=BIGINT},
            #{skuId,jdbcType=VARCHAR},
            #{userId,jdbcType=BIGINT},
            #{reviewId,jdbcType=BIGINT},
            #{reviewImage,jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="findReviewList" parameterType="Map" resultMap="ReviewResultMap">
    SELECT
      a.goods_id,
      a.sku_id,
      a.user_id,
      a.review_id,
      a.scores,
      a.nick_name,
      a.review_title,
      a.review_content,
      a.create_time,
      (SELECT COUNT(review_id) FROM new_goods_review_like WHERE review_id = a.review_id) AS like_count
    FROM
      new_goods_review a
    <where>
        <if test="goodsId != null">
            and a.goods_id = #{goodsId}
        </if>
        <if test="skuId != null">
            and a.sku_id = #{skuId}
        </if>
    </where>
    GROUP BY
      a.goods_id,
      a.sku_id,
      a.user_id,
      a.review_id,
      a.scores,
      a.nick_name,
      a.review_title,
      a.review_content,
      a.create_time
    ORDER BY like_count DESC
    <if test="start != null and limit != null">
        LIMIT #{start}, #{limit}
    </if>
</select>

    <select id="getTotalReviews" parameterType="Map" resultType="int">
        select count(*) from new_goods_review
        <where>
            <if test="goodsId!=null">
                and goods_id = #{goodsId}
            </if>
            <if test="skuId!=null">
                and sku_id = #{skuId}
            </if>
        </where>
    </select>
   
    <select id="selectReviewId" resultType="Long" parameterType="map">
    SELECT new_goods_review.review_id
    FROM new_goods_review
    WHERE new_goods_review.goods_id = #{goodsId,jdbcType=BIGINT}
      AND new_goods_review.sku_id = #{skuId,jdbcType=VARCHAR}
    </select>
   
    <select id="selectImageByReviewId" resultType="String">
    SELECT review_image
    FROM new_goods_review_image
    WHERE review_id = #{reviewId,jdbcType=BIGINT}
    </select>
    
    <select id="getCountOfScores" parameterType="Map" resultMap="ScoresMap">
    SELECT
        ROUND(AVG(scores),1) AS average,
        COUNT(scores) AS total,
        COUNT(CASE WHEN scores = 1 THEN 1 ELSE NULL END) AS score1,
        COUNT(CASE WHEN scores = 2 THEN 1 ELSE NULL END) AS score2,
        COUNT(CASE WHEN scores = 3 THEN 1 ELSE NULL END) AS score3,
        COUNT(CASE WHEN scores = 4 THEN 1 ELSE NULL END) AS score4,
        COUNT(CASE WHEN scores = 5 THEN 1 ELSE NULL END) AS score5
    FROM new_goods_review
    WHERE new_goods_review.goods_id = #{goodsId,jdbcType=BIGINT}
    AND new_goods_review.sku_id = #{skuId,jdbcType=VARCHAR}
</select>

    
</mapper>